body {
	text-align: center;
}

h1 {
	color: black;
	text-align: left;
	margin-left: 200px;
	margin-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
}

.paragraph {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	margin-top: 50px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: right;
	margin-right: 500px;
	margin-top: 50px;
}

.image {
	margin-top: 50px;
	padding-bottom: 80px;
}