body {
	text-align: center;
}

h1 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
	text-shadow: 2px 2px 5px violet;
}

h2 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	
}
