.bg {
	background-color: #0783db;
	width: 580px;
	height: 300px;
	overflow: hidden;
	margin-top: 220px;
	margin-bottom: 100px;
	box-sizing: border-box;
	padding: 40px;
	font-family: 'Roboto';
	border-radius: 4px;
}

h1 {
	color: white;
}

label {
	width: 8em;
	padding-right: 1em;
	float: left;
	font-size: 30px;
	color: white;
}

input {
	margin-bottom: .8em;
	height: 3em;
}

.btn-go-checkout {
	font-size: 20px;
	margin-top: 3rem;
	width: 50%;
	height: 50px;
	background: #094169;
	color: white;
	box-shadow: 0 3px 6px 2px darken(whitesmoke, 10%);
}