.bg {
	background-color: #0783db;
	width: 480px;
	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 40px;
	font-family: 'Roboto';
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 4px;
}

.card {
	background-color: #fff;
	width: 100%;
	float: left;
	margin-top: 40px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 80px 30px 25px 30px;
	text-align: center;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card__body {
	background-color: #f8f6f6;
	border-radius: 4px;
	width: 100%;
	margin-top: 30px;
	float: left;
	box-sizing: border-box;
	padding: 30px;
}

.card__price {
	color: #232528;
	font-size: 70px;
	margin-top: 25px;
	margin-bottom: 30px;
}

p {
	font-size: 20px;
}