body {
	text-align: center;
}

h1 {
	color: black;
	text-align: left;
	margin-left: 100px;
	margin-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-top: 50px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.image {
	padding-bottom: 80px;
}