html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Sans-serif;
	background-color: white;
}

.bimg {
	padding: 20px;
	margin-left: 50px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
	padding: 20px;
	background-color: #0783db;
}

.footer .col {
	width: 190px;
	height: auto;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 20px 20px 20px;
}

.contain {
	width: 80%;
}

.footer .col h2 {
	margin: 0;
	padding: 0;
	font-family: PT Sans, sans-serif;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 0px 5px 0px;
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.250em;
}

.footer-col a {
	display: block;
	margin: 0.3em 0;
	text-decoration: none;
	color: white;
	font-family: PT Sans, sans-serif;
}

.footer-col {
	display: inline-block;
	padding: 0.5em 0.1em 0.5em 1em;
}

.footer-col:nth-child(4) {
	border: none;
}

.ta-l {
	text-align: left;
}

.flt {
	float: left;
}

.flt:nth-child(4):after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 1em;
	clear: both;
}

.large-25 {
	width: 25%;
}

.footer-copy {
	width: 100%;
	background-color: #094169;
	overflow: auto;
	color: white;
	line-height: 40px;
	position: absolute;
	text-align: center;
}

.footer .col a:hover {
	color: #ffffff;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
}

.clearfix {
	clear: both;
}

@media only screen and (min-width: 1280px) {
	.contain {
		width: 1200px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1139px) {
	.contain .social {
		width: 1000px;
		display: block;
	}
	.social h1 {
		margin: 0px;
	}
}

@media only screen and (max-width: 950px) {
	.footer .col {
		width: 33%;
	}
	.footer .col h1 {
		font-size: 14px;
	}
	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 500px) {
	.footer .col {
		width: 50%;
	}
	.footer .col h1 {
		font-size: 14px;
	}
	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 340px) {
	.footer .col {
		width: 100%;
	}
}

.copyright-text {
	margin: 0
}

@media ( max-width : 550px) {
	.small-50 {
		width: 50%;
	}
	.footer-col:nth-child(2) {
		border: none;
	}
}

@media ( max-width : 300px) {
	.tiny-100 {
		width: 100%;
	}
	.footer-col {
		border: none;
	}
}