* {
	box-sizing: border-box;
}

.loginbody {
	background: repeating-linear-gradient(45deg, transparent, transparent 10px, #858F95
		10px, #ccc 20px), /* on "bottom" */
  linear-gradient(to bottom, #eee, #999);
	color: #2E31DC;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

.center {
	width: 50%;
	height: 100%;
	border: 3px solid #0A202E;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}