* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #add9ff;
}

.heading {
	overflow: hidden;
	background-color: #0783db;
}

h1 {
	text-align: center;
	color: white
}

.center {
	margin-top: 30px;
	width: 100%;
	border: 3px solid #0A202E;
	padding: 10px;
}

.button {
	margin-top: 30px;
	padding: 10px;
}

#delete {
	margin-left: 30px;
	margin-right: 30px;
}

#update {
	margin-left: 30px;
	margin-right: 30px;
}