* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

.registerbody {
	background: repeating-linear-gradient(45deg, transparent, transparent 10px, #858F95
		10px, #ccc 20px), /* on "bottom" */
  linear-gradient(to bottom, #eee, #999);
	color: #2E31DC;
}

/* Dashed red border */
hr.dashed {
	border: 2px dashed grey;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid #0A202E;
	padding: 10px;
}

.header {
	overflow: hidden;
	background-color: #0783db;
	padding: 20px 10px;
	background-image: linear-gradient(blue,white);
}

.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
	color: white;
	border: solid;
	border-color: white;
	border-radius: .3em;
	background-image: linear-gradient(pink, #0783db, pink);
}

.header a:hover {
	background-color: #094169;
	color: white;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

.navbar {
	overflow: hidden;
	background-color: #094169;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: #094169;
	font: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: relative;
	min-width: 120px;
	z-index: 1;
}

.dropdown-content button {
	float: right;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	background-color: white;
	height: 250px;
}

.column a {
	float: none;
	color: #094169;
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.column a:hover {
	background-color: white;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		height: auto;
	}
}




.ContinueShopping-button {

	width: 40px;
	height: 36px;
	border: 1px solid #094169;
	background: #094169;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.login-content {

  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 30%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.checkout-button{
	float: right;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}


.ContinueShopping-button{

	float: left;
	padding: 10px 10px 10px 10px;
	overflow: hidden;

}
