<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/about.css" />
	
</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>


<body>

	<h1>About Us...</h1>
	<div class="paragraph">
		<p>We’re 4th generation, family-owned supermarket, that was
			founded in 1895.</p>

		<p>Corrigan’s has proudly served our loyal customers for over 126
			years and has become a well-established landmark across Irish
			communities.</p>

		<p>This reputation has been earned through our superb food
			quality, providing high personalized service as well as consistent
			support of local producers.</p>

	</div>

	<h2>We’re looking forward to seeing you in our store.</h2>

	<h3 >Corrigan’s family.</h3>

	<div class="image">
		<h:graphicImage library="images"
			name="about.jpg"></h:graphicImage>
	</div>

</body>
<ui:include src="footer.xhtml"></ui:include>
</html>