<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>

</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>
	<h:body>		
			<div class="card">
				<h:form id="chooseProductForm">
					<p:growl id="outputMsg" showDetail="true" />
					
					<p:dataTable id="productTable"  selectionMode="single" value="#{product.productList}"	rowKey="#{item.prodId}"  var="item" editable="true">
						<f:facet name="header">
		              	 				Product List
		 				</f:facet>
		 			<!-- 	<p:ajax event="rowEdit" listener="#{product.onRowEdit}" update="@(.footerToUpdate)  :productForm:outputMsg"/>
          			    <p:ajax event="rowEditCancel" listener="#{product.onRowCancel}" update=":productForm:outputMsg"/>
          			     -->
						
				<!--  prodId field should be non editable -->						
						<p:column headerText="Product Id">
							<h:outputText value="#{item.prodId}"/>												
						</p:column>
						
						<p:column headerText="Product Name">
							<h:outputText value="#{item.prodName}"/>													
						</p:column>						
						
						<p:column headerText="Description">
							<h:outputText value="#{item.description}"/>														
						</p:column>
						
						
						<p:column headerText="Quantity" style="width:12rem; ">
						
						<!--	<h:inputText value="#{item.quantity}"/>-->
						
						<h:outputText />
							<p:cellEditor>
								 <f:facet name="output"><h:outputText value="#{item.quantity}"  /> </f:facet>
	                    		 <f:facet name="input"><p:inputText id="inputValue" value="#{item.quantity}"  style="width:100%"/>  </f:facet>													
							</p:cellEditor>		
							 <p:rowEditor editTitle="Edit Quantity" cancelTitle="Cancel Edit" saveTitle="Save Product"/>
							 				
						</p:column>
						
						<p:column headerText="Price">
							<h:outputText value="#{item.price}"/>						
						</p:column>
						
											
						<p:column>
							<f:facet name="header">
								<h:outputText value="" />
							</f:facet>
							<p:commandButton icon="btn btn-primary" value="Add To Cart"
								action="#{userData.addProduct(item)}" 
								update="productTable" />
						</p:column>					
						
					</p:dataTable>
					
					 
				</h:form>
			</div>

</h:body>
<ui:include src="footer.xhtml"></ui:include>>

</html>
