<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet" href="resources/css/style.css" type="text/css" />
	<link rel="stylesheet" href="resources/css/Body.css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css" />
	<p:growl id="msg" />
	<f:event type="preRenderView" listener="#{loginBean.showLoginMessage}" />
</h:head>

<h:body>
<div >
	<h:graphicImage library="images" name="OGS.jpg" height="400" width="800px"  style="position:relative"></h:graphicImage>

</div>
	<h1>Corrigan's is now online!</h1>


	<div class="bimg">
		<h:graphicImage library="images" name="shopping.png" height="400" width="500px"  style="position:relative"></h:graphicImage>
		<h:graphicImage library="images" name="on.jpg" height="400" width="400px"  style="position:relative"></h:graphicImage>
		<h:graphicImage library="images" name="groc.jpg" height="400" width="500px"  style="position:relative"></h:graphicImage>

	</div>

	<h2>Top Offers Of The Week!</h2>
<div>


	<h:graphicImage library="images" name="Kit kat.PNG"></h:graphicImage>
	<h:graphicImage library="images" name="kellogs.PNG"></h:graphicImage>
	<h:graphicImage library="images" name="coca.PNG"></h:graphicImage>
	<h:graphicImage library="images" name="washing.PNG"></h:graphicImage>
</div>
</h:body>



</html>