<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>

</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>
	<h:body>		
			<div class="card">
				<h:form id="productForm">
					<p:growl id="outputMsg" showDetail="true" />
					
					<p:dataTable id="productTable"  selectionMode="single" value="#{userData.currentUser.productList}"	rowKey="#{item.prodId}"  var="item" editable="true" rowIndexVar="index">
						<f:facet name="header">
						
		              	 				#{userData.currentUser.userName}'s cart
		 				</f:facet>
		 				<p:ajax event="rowEdit" listener="#{product.onRowEdit}" update="@(.footerToUpdate)  :productForm:outputMsg"/>
          			    <p:ajax event="rowEditCancel" listener="#{product.onRowCancel}" update=":productForm:outputMsg"/>
          			    
          			    
          			     <p:column>
					        <f:facet name="header">
					            <h:outputText value="S. No" />
					        </f:facet>
					        <h:outputText 
					            value="#{index + 1}" />
					    </p:column>
						
				<!--  prodId field should be non editable -->						
					
						<p:column headerText="Product Name">
							<h:outputText value="#{item.prodName}"/>													
						</p:column>						
						
						<p:column headerText="Description">
							<h:outputText value="#{item.description}"/>														
						</p:column>
						
						
						<p:column headerText="Quantity" style="width:12rem; ">
							<p:cellEditor>
								 <f:facet name="output"><h:outputText value="#{item.quantity}"/></f:facet>
	                    		 <f:facet name="input"><p:inputText value="#{item.quantity}" style="width:100%"/></f:facet>													
							</p:cellEditor>		
							 <p:rowEditor editTitle="Edit Product" cancelTitle="Cancel Edit" saveTitle="Save Product"/>					
						</p:column>
						
						<p:column headerText="Price">
							<h:outputText value="#{item.price}"/>						
						</p:column>
						
						<p:column headerText="SubTotal">
						 	<h:outputText value="#{item.subTotal}"/>									
						</p:column>
						
						<p:column>
							<f:facet name="header">
								<h:outputText value="" />
							</f:facet>
							<p:commandButton icon="btn btn-primary" value="Remove"
								action="#{userData.currentUser.removeProduct(item)}" 
								update="productTable" />
						</p:column>
						
						<p:columnGroup type="footer">
				             <p:row>
				                 <p:column colspan="5" footerText="Grand Total:" style="text-align:right"/>
				                 <p:column colspan="1">
			                        <f:facet name="footer">
			                            <h:outputText  styleClass=".footerToUpdate" value="#{userData.currentUser.grandTotal}">
			                            </h:outputText>
			                        </f:facet>
			                    </p:column>
				                
				                </p:row>
            			</p:columnGroup>
					</p:dataTable>
					
					  <div >
					  
          <p:commandButton icon="btn btn-primary" id="ContinueShopping-button" value="Continue Shopping" action="index.xhtml" style="margin-right:40px; margin-left:40px; margin-top:40px; margin-bottom: 100px; "/>  
          <p:commandButton  icon="btn btn-primary" id="Checkout-button" value="Checkout" action="checkout.xhtml"/>  

        </div>
				</h:form>
			</div>
			 <br /> 
			 	 <br />	 <br />	 <br />	 <br />

</h:body>
<ui:include src="footer.xhtml"></ui:include>
</html>