<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/checkout.css" type="text/css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>

<h:body>
<div align="center">
   <div class="bg">
    <h1>Cart Total</h1>
    <br/>
	<h:form>   
			<h:outputLabel for="grandtotal">Grand Total:</h:outputLabel>  
			<h:outputLabel id="grandtotal" value="#{userData.currentUser.grandTotal}"/><br/>  
		  	<h:commandButton class="btn-go-checkout" action="#{authorizePayment.checkOut(userData.currentUser.grandTotal)}" value="Checkout"/>		  
	</h:form>
</div>
</div>
</h:body>
</html>
