<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Payment Confirmation</title>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<link rel="stylesheet" href="resources/css/confirm.css" type="text/css" />
</h:head>
<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>

<h:body>

	<div class="bg">
		<div class="card">
		
			<h:graphicImage
					library="images" name="tick.png" width="55" />

			<h1 class="card__msg">Payment Complete</h1>
			<h2 class="card__submsg">Thank you for your transfer</h2>
			<div class="card__body">

				<p>Your payment of</p>
				<h1 class="card__price"><span>€</span><h:outputText  value="#{userData.currentUser.grandTotal}" /></h1>
				<p>has been approved</p>
			</div>
		</div>
	</div>
</h:body>
<ui:include src="footer.xhtml"></ui:include>
</html>