<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>

	<link rel="stylesheet" href="resources/css/contact.css" />
	<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>
</h:head>
<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>



<body>

	<h1>Our Contact Details</h1>

	<h2>Address: 16 Hillside Cl, Monksland, Athlone, Co. Roscommon</h2>

	<h3>Tel: 0892411638</h3>

	<h4>Email: corrigan@gmail.com</h4>
	
	<h5>Please contact us with any queries.</h5>
	<div class="image">
		<h:graphicImage library="images"
			name="contact.jpg" height="500"></h:graphicImage>
	</div>


</body>
<ui:include src="footer.xhtml"></ui:include>
</html>