<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>


<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="footer-col large-25 small-50 tiny-100 ta-l flt">
    <h3>Get to know us</h3>
    <a href="about.xhtml">About Us</a>
    <a href="contact.xhtml">Contact Us</a>
  </div>
 
  
  <div class="footer-col large-25 small-50 tiny-100 ta-l flt">
  <h3></h3>
  <h:graphicImage library="images" name="paypal.png" height="70" width="250"></h:graphicImage>
  </div>
 
<div class="clearfix"></div>
</div>
</div>
   <div class="footer-copy">
            <p class="copyright-text">&copy; 2021 Corrigan's Supermarket 
         
            </p>
          </div>
</ui:composition>
<!-- END OF FOOTER -->
</html>