<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
<h:head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</h:head>
	<h:body>
		<div class="header">
			<a href="index.xhtml" class="logo">Corrigan's <br/>Supermarket</a>
			
			<div class="header-right">
			
			<a href="storeLocator.xhtml"><i class="fa fa-map-marker"
				aria-hidden="true"></i><br>Store Locator</br></a>
			
				<h:panelGroup rendered="#{!loginBean.userLoggedIn}">
					<a href="loginPage.xhtml"><i class="fa fa-fw fa-user"></i><br>
							Login</br></a>
				</h:panelGroup>
				<h:panelGroup rendered="#{loginBean.userLoggedIn}">
				
				<div class="dropdown">
					  <button class="dropbtn"><i class="fa fa-user-o" aria-hidden="true"></i> <br/><br/>#{loginBean.userName} <i class="fa fa-caret-down"></i></button>
					  <div class="dropdown-content">
					 <h:form id="logoutForm">
					  <p:commandButton action="#{loginBean.logout()}" process="@this" value="Logout"></p:commandButton>
						</h:form>
						</div>
						</div>
						<a href="cart.xhtml"><i class="fa fa-shopping-basket"
					aria-hidden="true"></i><br>Cart</br></a>
						
				</h:panelGroup>
				
				
			</div>
		</div>

		<div class="navbar">
		

			<div class="dropdown">
				<h:button class="dropbtn fa fa-bars" value="Browse Products" 
					outcome="addToCart" style="color: white"></h:button>					

			</div>
			
		</div>
	</h:body>
</ui:composition>
</html>