<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>
	
	</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>

<body>
	<br />
	<div id="loginPage" class="center">
		<h1>Log in</h1>
		<hr class="dashed" />
		<f:view>
			<h:form id="loginForm">
			
				<h:panelGrid columns="3" id="panelGrid">
					<label for="userName">User Name</label>
					<br />
					<p:inputText id="userName" value="#{loginBean.userName}" required="true" requiredMessage="User Name is required" />
					<p:message for="userName" style="color:red" showDetail="true" autoUpdate="true" closable="true" />
					<br />

					<label for="password">Password</label>
					<br />
					<p:password id="password" value="#{loginBean.password}" required="true" requiredMessage="Password is required" />
					<p:message for="password" style="color:red" showDetail="true" autoUpdate="true" closable="true" />
					<br />
					
					<p:selectBooleanCheckbox value="#{loginBean.staffLogin}" itemLabel="Staff Login" />
					<br />
					<p:commandButton action="#{loginBean.validateUserLogin}" value="Login"  update="loginForm"></p:commandButton>

				</h:panelGrid>

				<div>
					<br />
					
					
					<p:message for="panelGrid" style="color:red" showDetail="true"
						autoUpdate="true" closable="true" />
					<br />
				</div>
			</h:form>
		</f:view>
		<h:panelGrid columns="2">
			<h2>Not Registered?</h2>
			<a href="register.xhtml"> Register Now</a>
		</h:panelGrid>
	</div>
	<br/>
	<br/>
	<br/>
</body>
<ui:include src="footer.xhtml"></ui:include>
</html>