<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="https://primefaces.org/ui"
	>
<h:head>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<link rel="stylesheet" href="resources/css/confirm.css" type="text/css" />
</h:head>

<ui:include src="head.xhtml"></ui:include>
<ui:include src="header.xhtml"></ui:include>
<body>
<div class="bg">
		<div class="card">
		<h:graphicImage
					library="images" name="tick.png" width="55" />

	<h1 class="card__msg">Registered Successfully!</h1>
			
	<h2  class="card__submsg"> User #{user.firstName} has been registered successfully. <br />
	</h2>
</div>
	</div>

</body>
<ui:include src="footer.xhtml"></ui:include>
</html>