<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="resources/css/footer.css" type="text/css"/>

</h:head>
	<ui:include src="head.xhtml"></ui:include>
	<ui:include src="header.xhtml"></ui:include>
	
	

	<body>
		<br />
		<div id="RegistrationPage" class="center ">
			<h1>Register</h1>
			<hr class="dashed"/>	
			<f:view>
				<h:form id="registrationForm">
					<h:panelGrid columns="3">
						<label for="First Name">First Name</label><br /> 
						<p:inputText id="fnameForm" value="#{user.firstName}" required="true" requiredMessage="First Name is required" />
						<p:message for="fnameForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/><br/>

						<label for="Last Name">Last Name</label><br/> 
						<p:inputText id="lnameForm" value="#{user.lastName}" required="true" requiredMessage="Last Name is required" /> 
						<p:message for="lnameForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/><br/> 
						
						<label  for="User Name">User Name</label> 
						<p:inputText  id="userNameForm" value="#{user.userName}" required="true" requiredMessage="User Name is required" />				 	
					 	<p:message for="userNameForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/><br/>
						
						<label for="password">Password</label>
						<p:password  id="passwordForm" value="#{user.password}"  required="true" requiredMessage="password is required" feedback="true"   
					                />
					    <p:message for="passwordForm" id="passwordFormMsg" />
						<!--  <h:inputSecret id="passwordForm" value="#{user.password}"  required="true" requiredMessage="password is required" /> <br/>
						<p:message for="passwordForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/>-->
						
						<label for="reenterPassword">Re Enter Password</label>
						<p:password id="reenterPasswordForm" value="#{user.reenterPassword}" required="true" requiredMessage="Re Enter password is required"/>
						<p:message for="reenterPasswordForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/><br/>
						
					
					<!--  <label for="email">Email Id</label><br/> 
						<h:inputText id="email" value="#{user.email}" required="true" requiredMessage="Email Id is required"/><br/>  
						-->
						<label for="address">Address</label> 
						<p:inputTextarea cols="24" rows="4" style="width:270" id="homeAddressForm" value="#{user.address}" required="true" requiredMessage="Address is required"/>  
						<p:message for="homeAddressForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/><br/>
						<p:selectBooleanCheckbox value="#{user.staff}" itemLabel="Staff" />
						<br/>
						<br/>
						<br/>
						<p:commandButton style="background-color: pink; color: black;"  onmouseover="this.style.color='white'; this.style.backgroundColor='blue'" onmouseout="this.style.color='black'; this.style.backgroundColor='pink'" action="#{user.registerUser()}" value="Submit" update="registrationForm"></p:commandButton>		
					</h:panelGrid>
					
					<!-- <div><br/><h:message for="registrationForm" style="color:red" showDetail="true" autoUpdate="true" closable="true"/></div> -->
				</h:form>
				

			</f:view>
		</div>
		<br/>
		<br/>
		<br/>
	</body>
	<ui:include src="footer.xhtml"></ui:include>
</html>