<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Corrigans Supermarket</title>
	<h:outputStylesheet library="css" name="staff.css"></h:outputStylesheet>

</h:head>

<h:body>
	
	<f:event type="preRenderView" listener="#{loginBean.showLoginMessage}" />
	<div class="heading">
		<h1>Inventory System Manage Product</h1>
	</div>
	<div class="center">
		<f:view>
			<h:form>
				<h:panelGrid columns="2">
		
				<label for="prodName">Product Name</label>
					<p:selectOneMenu id="prodName" value="#{product.prodName}">
					  	<f:selectItem itemLabel="Select Product"/>
	                    <f:selectItem itemLabel="Potato" itemValue="Potato"/>
	                    <f:selectItem itemLabel="Tomato" itemValue="Tomato"/>
	                    <f:selectItem itemLabel="Onion" itemValue="Onion"/>
	                    
	                    <f:selectItem itemLabel="Milk" itemValue="Milk"/>
	                    <f:selectItem itemLabel="Cheese" itemValue="Cheese"/>
	                    <f:selectItem itemLabel="Yogurt" itemValue="Yougurt"/>
	                    
	                    <f:selectItem itemLabel="Steak" itemValue="Steak"/>
	                    <f:selectItem itemLabel="Fish" itemValue="Fish"/>
	                    <f:selectItem itemLabel="Ice Cream" itemValue="Ice Cream"/>
	                    
	                    <f:selectItem itemLabel="Dog Food" itemValue="Dog Food"/>
	                    <f:selectItem itemLabel="Cat Food" itemValue="Cat Food"/>
	                    <f:selectItem itemLabel="Fish Food" itemValue="Fish Food"/>
	                    
	                    <f:selectItem itemLabel="Soap" itemValue="Soap"/>
	                    <f:selectItem itemLabel="Brush" itemValue="Brush"/>
	                    <f:selectItem itemLabel="Toothpaste" itemValue="Toothpaste"/>    
	                </p:selectOneMenu>
	                    	<br/>
	                    
					<label for="prodCategory">Product Category</label>
					<p:selectOneMenu id="prodCategory" value="#{product.category}">
					  	<f:selectItem itemLabel="Select Category"/>
	                    <f:selectItem itemLabel="Fresh Produce" itemValue="Fresh Produce"/>
	                    <f:selectItem itemLabel="Bakery" itemValue="Bakery"/>
	                    <f:selectItem itemLabel="Dairy" itemValue="Dairy"/>
	    				<f:selectItem itemLabel="Frozen Foods" itemValue="Frozen Foods"/>
	                    <f:selectItem itemLabel="Pets" itemValue="Pets"/>
	                    <f:selectItem itemLabel="Toiletries" itemValue="Toiletries"/>
				</p:selectOneMenu>
					<!--  <p:inputText id="prodName" value="#{product.prodName}" required="true" requiredMessage="Product Name is required" />-->
				
					              
	                    
	                    
				
					<br />
					<label for="prodDescription">Description</label>
					<p:inputText id="prodDescription" value="#{product.description}" required="true" requiredMessage="Product Description is required" />
					<br/>
					<label for="prodQuantity">Quantity</label>
					<p:inputText id="prodQuantity" value="#{product.quantity}" required="true" requiredMessage="Product Quantity is required" />
					<br/>
					
					
					<label for="prodPrice">Price</label>
					<p:inputText id="prodPrice" value="#{product.price}" required="true" requiredMessage="Product Price is required" />
					<br />
					
					<br />
				</h:panelGrid>
				<div>
					<h:panelGrid columns="2">
						
							  
                <p:commandButton onmouseover="this.style.color='white'; this.style.backgroundColor='blue'"
							onmouseout="this.style.color='black'; this.style.backgroundColor='pink'" value="Add"  update="productForm:productTable"    action="#{product.addProduct()}" />
           
						
			
					 
					 <p:commandButton value="Home" action="index.xhtml?faces-redirect=true" style="background-color: pink; color: black; margin-right:16px;"
					onmouseover="this.style.color='white'; this.style.backgroundColor='blue'"
					onmouseout="this.style.color='black'; this.style.backgroundColor='pink'" />
					    
					
					</h:panelGrid>
				</div>
			</h:form>

			<hr />
			<div class="card">
				<h:form id="productForm">
					<p:growl id="outputMsg" showDetail="true" />
					
					<p:dataTable id="productTable"  selectionMode="single" value="#{product.productList}"	rowKey="#{item.prodId}"  var="item" editable="true">
						<f:facet name="header">
		              	 				Product List
		 				</f:facet>
		 				<p:ajax event="rowEdit" listener="#{product.onRowEdit}" update=":productForm:outputMsg"/>
          			    <p:ajax event="rowEditCancel" listener="#{product.onRowCancel}" update=":productForm:outputMsg"/>
						
				<!--  prodId field should be non editable -->						
						<p:column headerText="Product Id">
							<h:outputText value="#{item.prodId}"/>												
						</p:column>
						
						<p:column headerText="Product Name">
							<p:cellEditor>
							 <f:facet name="output"><h:outputText value="#{item.prodName}"/></f:facet>
                    		 <f:facet name="input"><p:inputText value="#{item.prodName}" style="width:100%"/></f:facet>													
							</p:cellEditor>							
						</p:column>
						
						
						<p:column headerText="Description">
							<p:cellEditor>
							 <f:facet name="output"><h:outputText value="#{item.description}"/></f:facet>
                    		 <f:facet name="input"><p:inputText value="#{item.description}" style="width:100%"/></f:facet>													
							</p:cellEditor>							
						</p:column>
						
						
						<p:column headerText="Quantity">
							<p:cellEditor>
							 <f:facet name="output"><h:outputText value="#{item.quantity}"/></f:facet>
                    		 <f:facet name="input"><p:inputText value="#{item.quantity}" style="width:100%"/></f:facet>													
							</p:cellEditor>							
						</p:column>
						
						<p:column headerText="Price">
							<p:cellEditor>
							 <f:facet name="output"><h:outputText value="#{item.price}"/></f:facet>
                    		 <f:facet name="input"><p:inputText value="#{item.price}" style="width:100%"/></f:facet>													
							</p:cellEditor>							
						</p:column>
						
						
						
						<p:column style="width:6rem" headerText="Edit Product">
			                <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Product"/>
			            </p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="" />
							</f:facet>
							<p:commandButton icon="btn btn-primary" value="Delete"
								action="#{product.deleteRow(item)}" 
								update="productTable" />
						</p:column>
					</p:dataTable>					
					 
				</h:form>
			</div>
		</f:view>
	</div>
</h:body>


</html>